html,
body,
#root {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: Arial, sans-serif;
}

.app-shell {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.app-body {
  flex: 1;
  overflow: hidden;
}

.app-sidebar {
  background: #1e3a8a !important;
  overflow-y: auto;
}

.app-sidebar .ant-layout-sider-children {
  overflow-y: auto;
}

.app-content {
  overflow-y: auto;
  padding: 16px;
  background: #f3f4f6;
}
